{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="{% static 'main/js/script.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
    <title>Oleksandr Prokopenko</title>
</head>
<body>
    <!-- -----header----- -->
    <header class="header">
        <div class="header_menu">
            <a href="" class="menu_item">About me</a>
            <a href="" class="menu_item">Skills</a>
            <a href="" class="menu_item">Portfolio</a>
            <a href="" class="menu_item">Contact me</a>
        </div>
    </header>
    <!-- -----main----- -->
    <main class="main">
        <div class="main_block">
            <div class="main_block_left">
                <div class="block_left">
                    <div class="title">Hi, I am</div>
                    <div class="description">
                        <div class="name">Oleksandr Prokopenko</div>
                        <div class="sub_title">Python full-stack developer</div>
                    </div>
                    <div class="links">
                        {% for link in social_links %}
                        <div class="link_box">
                          <a href="#">
                            <img src="{{ link.img.url }}" alt="{{ link.text }}" width="37">
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
            <div class="main_block_right">
                <div class="main_image">
                    <img src="/media/images/img_main.png" alt="main_logo" height="1140" width="1018">
                </div>
            </div>
        </div>
    </main>
    <!-- -----my desctiption----- -->
    <div class="my_desctiption">
        <div class="my_desctiption_main">
            <div class="my_desctiption_title">IT BERRIES</div>
            <div class="my_desctiption_about">
                Nulla in velit a metus rhoncus tempus. 
                Nulla congue nulla vel sem varius finibus. 
                Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra 
                facilisis ut ac est. Morbi commodo, eros in dignissim tempus, lacus odio rutrum augue, 
                in semper sem magna quis tellus. Etiam enim erat, suscipit eu semper a, 
                dictum sit amet elit. Nunc egestas nisi eget enim gravida facilisis. 
                Pellentesque laoreet varius turpis vel pharetra. Ut ante justo, 
                consequat vitae elementum tempor, accumsan nec eros. 
            </div>
            <div class="my_desctiption_button">
                <a href="">READ MORE</a>
            </div>
        </div>

        <div class="my_desctiption_logo">
            <img src="/media/images/img_it.png" alt="logo">
        </div>
    </div>
    <!-- -----about me----- -->
    <div class="about_me">
        <div class="about_me_main">
            <div class="page_title" id="about_me">
                <p>ABOUT ME</p>
            </div>
            <div class="about_me_text">
                <p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. 
                Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.
            </div>
            <div class="about_me_explore">
                <p>EXPLORE</p>
            </div>
            <div class="img_separator">
                <img src="/media/images/img_separator.png" alt="logo_separator">
            </div>
            <div class="about_me_disctiption">
                {% for service in services %}
                    <div class="about_me_item">
                        <div class="title">
                            <img src="{{ service.img.url }}" alt="{{ service.text }}" max-height="70" max-width="81">
                            {{ service.title }}
                        </div>
                        <div class="text">
                            {{ service.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="img_separator">
                <img src="/media/images/img_separator.png" alt="logo_separator">
            </div>
        </div>
        <!-- -----skills----- -->
        <div class="skills">
            <div class="page_title" id="skills">
                <p>SKILLS</p>
            </div>
            <div class="skills_title">
                <p>USING NOW:</p>
            </div>
            <div class="skill_icons">
                {% for skill in skills %}
                    <div class="skill_box">
                        <img src="{{ skill.img.url }}" alt="{{ skill.text }}" max-height="100" max-width="100">
                        <div class="skill_title">
                            <p>{{ skill.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="skills_title">
                <p>LEARNING:</p>
            </div>
            <div class="skill_icons">
                {% for learn in learning %}
                    <div class="skill_box">
                        <img src="{{ learn.img.url }}" alt="{{ learn.text }}" max-height="100" max-width="100">
                        <div class="skill_title">
                            <p>{{ learn.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>  
        </div>
    </div>
    <!-- -----portfolio----- -->
    <div class="portfolio">
        <div class="portfolio_title">
            <div class="page_title" id="portfolio">
                <p>PORTFOLIO</p>
            </div>
        </div>
        <div class="portfolio_main">
            <div class="portfolio_menu">
                <div class="menu_link active" onclick="filterSelection('all')"><a href="#">ALL</a></div>
                <div class="menu_link" onclick="filterSelection('coded')"><a href="#">CODED</a></div>
                <div class="menu_link" onclick="filterSelection('design')"><a href="#">DESIGNED</a></div>
            </div>         
        </div>
        <div class="portfolio_sites">
            {% for site in portfolio_sites %}
                <div class="sites_img_conatainer">
                    <a href="{{ site.site_link }}" target="_blank"><img class="sites_img" src="{{ site.img.url }}" alt="{{ site.title }}"></a>
                </div>
            {% endfor %}
        </div> 
        <div class="portfolio_footer">
            <p>And many more to come!</p>
        </div>   
    </div>
    <!-- -----contact----- -->
    <div class="contact">
        <div class="page_title" id="contact">
            <p>CONTACT</p>
        </div>
        <div class="contact_text">
            <p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. 
            Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.
        </div>
        <div class="img_separator">
            <img src="/media/images/img_separator.png" alt="logo_separator">
        </div>
        <form action="" class="contact_form">
            <input type="text" placeholder="ENTER YOUR NAME*">
            <input type="text" placeholder="ENTER YOU EMAIL*">
            <input type="tel" id="phoneInput" placeholder="PHONE NUMBER" maxlength="17">
            <textarea type="text" placeholder="YOUR MESSAGE*"></textarea>
        </form>
        <div class="contact_buttom_container">
            <button class="contact_buttom">SUBMIT</button>
        </div>
    </div>
</body>
<!-- -----footer----- -->
<footer>
    <div class="footer_main">
        <div class="arrow">
            <img src="/media/images/img_arrow_top.png" alt="arrow">
            <p>BACK TO TOP</p>
        </div>

    </div>
</footer>
</html>




