{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="{% static 'main/js/script.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Oleksandr Prokopenko</title>
</head>
<body>
    <!-- -----header----- -->

    <!-- <header class="header">
        <a href="" class="logo">Logo</a>
        <label for="check" class="icons">
            <i class='bx bx-menu-alt-right' id="menu_icon"></i>
            <i class='bx bx-x' id="close_icon"></i>
        </label>
        <nav class="navbar">
            <a href="#main_scroll" class="menu_item active" style="--i:0;">Main</a>
            <a href="#about_me_scroll" class="menu_item" style="--i:1;">About me</a>
            <a href="#skills_scroll" class="menu_item" style="--i:2;">Skills</a>
            <a href="#portfolio_scroll" class="menu_item" style="--i:3;">Portfolio</a>
            <a href="#contact_me_scroll" class="menu_item" style="--i:4;">Contact me</a>
        </nav>
    </header> -->

    <header class="header">
        <a href="" class="logo">Logo</a>
           
        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu-alt-right' id="menu_icon"></i>
            <i class='bx bx-x' id="close_icon"></i>
        </label>

        <nav class="navbar">
            <a href="#main_scroll" class="menu_item active" style="--i:0;">Main</a>
            <a href="#about_me_scroll" class="menu_item" style="--i:1;">About me</a>
            <a href="#skills_scroll" class="menu_item" style="--i:2;">Skills</a>
            <a href="#portfolio_scroll" class="menu_item" style="--i:3;">Portfolio</a>
            <a href="#contact_me_scroll" class="menu_item" style="--i:4;">Contact me</a>
        </nav>
    </header>

    <!-- -----main----- -->
    <section class="main" id="main_scroll">
        <div class="main_block">
            <div class="main_block_left">
                <div class="block_left">
                    <div class="title">Hi, I am</div>
                    <div class="description">
                        <div class="name">Oleksandr Prokopenko</div>
                        <div class="sub_title">Python full-stack developer</div>
                    </div>
                    <div class="links">
                        {% for social_link in social_links %}
                        <div class="link_box">
                          <a href="{{ social_link.link }}" target="_blank">
                            <img src="{{ social_link.img.url }}" alt="{{ social_link.text }}" width="37">
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
            <div class="main_block_right">
                <div class="main_image">
                    <img src="/media/images/img_main.png" alt="main_logo" height="1140" width="1018">
                </div>
            </div>
        </div>
    </section>
    <!-- -----my desctiption----- -->
    <div class="my_desctiption">
        <div class="my_desctiption_main">
            <div class="my_desctiption_title">IT BERRIES</div>
            <div class="my_desctiption_about">
                Nulla in velit a metus rhoncus tempus. 
                Nulla congue nulla vel sem varius finibus. 
                Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra 
                facilisis ut ac est. Morbi commodo, eros in dignissim tempus, lacus odio rutrum augue, 
                in semper sem magna quis tellus. Etiam enim erat, suscipit eu semper a, 
                dictum sit amet elit. Nunc egestas nisi eget enim gravida facilisis. 
                Pellentesque laoreet varius turpis vel pharetra. Ut ante justo, 
                consequat vitae elementum tempor, accumsan nec eros. 
            </div>
            <div class="my_desctiption_button">
                <a href="">READ MORE</a>
            </div>
        </div>

        <div class="my_desctiption_logo">
            <img src="/media/images/img_it.png" alt="logo">
        </div>
    </div>
    <!-- -----about me----- -->
    <section class="about_me" id="about_me_scroll">
        <div class="about_me_main">
            <div class="page_title" id="about_me">
                <p>ABOUT ME</p>
            </div>
            <div class="about_me_text">
                <p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. 
                Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.</p>
            </div>
            <div class="about_me_explore">
                <p>EXPLORE</p>
            </div>
            <div class="img_separator">
                <img src="/media/images/img_separator.png" alt="logo_separator">
            </div>
            <div class="about_me_disctiption">
                {% for service in services %}
                    <div class="about_me_item">
                        <div class="title">
                            <img src="{{ service.img.url }}" alt="img" max-height="70" max-width="81">
                            {{ service.title }}
                        </div>
                        <div class="text">
                            {{ service.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="img_separator">
                <img src="/media/images/img_separator.png" alt="logo_separator">
            </div>
        </div>
    </section>
    <!-- -----skills----- -->
    <section class="skills" id="skills_scroll">
        <div class="page_title" id="skills">
            <p>SKILLS</p>
        </div>
        <div class="skills_title">
            <p>USING NOW:</p>
        </div>
        <div class="skill_icons">
            {% for skill in skills %}
                <div class="skill_box">
                    <img src="{{ skill.img.url }}" alt="{{ skill.text }}" max-height="100" max-width="100">
                    <div class="skill_title">
                        <p>{{ skill.title }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="skills_title">
            <p>LEARNING:</p>
        </div>
        <div class="skill_icons">
            {% for learn in learning %}
                <div class="skill_box">
                    <img src="{{ learn.img.url }}" alt="{{ learn.text }}" max-height="100" max-width="100">
                    <div class="skill_title">
                        <p>{{ learn.title }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>  
    </section>
    <!-- -----portfolio----- -->
    <section class="portfolio" id="portfolio_scroll">
        <div class="portfolio_title">
            <div class="page_title" id="portfolio">
                <p>PORTFOLIO</p>
            </div>
        </div>
        <div class="portfolio_main">
            <div class="portfolio_menu">
                <div class="menu_link active"><a href="#">ALL</a></div>
                <div class="menu_link"><a href="#">CODED</a></div>
                <div class="menu_link"><a href="#">DESIGNED</a></div>
            </div>         
        </div>
        <div class="portfolio_sites">
            {% for site in portfolio_sites %}
                <div class="sites_img_conatainer">
                    <a href="{{ site.site_link }}" target="_blank"><img class="sites_img" src="{{ site.img.url }}" alt="{{ site.title }}"></a>
                </div>
            {% endfor %}
        </div> 
        <div class="portfolio_footer">
            <p>And many more to come!</p>
        </div>   
    </section>
    <!-- -----contact----- -->
    <section class="contact" id="contact_me_scroll">
        <div class="page_title" id="contact">
            <p>CONTACT</p>
        </div>
        <div class="contact_text">
            <p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. 
            Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.
        </div>
        <div class="img_separator">
            <img src="/media/images/img_separator.png" alt="logo_separator">
        </div>

        {% if messages %}
            <ul class="error_message">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post" action="" class="contact_form" lang="eu" autocomplete="off">
            {% csrf_token %}
            {{ contact_form.as_p }}
            <div class="contact_buttom_container">
                <button class="contact_buttom" type="submit">SUBMIT</button>
            </div>
        </form>

    </section>
</body>
<!-- -----footer----- -->
<footer>
    <div class="footer_main">
        <div class="arrow" onclick="scrollToTop()">
            <img src="/media/images/img_arrow_top.png" alt="arrow">
            <p>BACK TO TOP</p>
        </div>
        <div class="footer_links">
            {% for footer_link in footer_links %}
                <div class="">
                <a href="{{ footer_link.link }}">
                    <img src="{{ footer_link.img.url }}" alt="{{ footer_link.text }}" width="37">
                </a>
                </div>
            {% endfor %}
        </div>
        <p class="copy_text">&copy;2024 Olexandr Prokopenko All Rights Reserved.</p>
    </div>
</footer>
</html>




