html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* ----------header---------- */

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 45px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #0B0B0B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header .header_menu {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

@media (max-width: 425px) {
    .header .header_menu {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .header .header_menu a {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .header .header_menu {
        align-items: center;
        margin: auto;
    }

    .header .header_menu a {
        margin-bottom: 10px;
    }
}

/* ----------main---------- */

.menu_item {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
}

.main .main_block .main_block_left .links {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

@media (max-width: 768px) {
    .main .main_block .main_block_left .links {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 0 10px 0;
    }
}

.link_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 56px;
    background: #C4C4C4;
    box-shadow: 5px 5px 2px grey;
    transition: transform 0.2s ease-in-out;
}

.link_box:hover {
    transform: scale(1.2);
}

.main_block_left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main_block_left .title {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.main_block_left .name {
    max-width: 600px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.main_block_left .sub_title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #909090;
}

.main_block_left .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .main_block_left .block_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

@media (max-width: 1300px) {
    .main .main_block_left .block_left {
        max-width: 400px;
    }
}

.menu_item:last-child {
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding: 15px;
}

.main_block {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #D7D7D7;
    overflow: hidden;
}

.main .main_block .main_block_left {
    width: 50%;
    height: 100%;
}

@media (max-width: 768px) {
    .main .main_block .main_block_left {
        width: 100%;
        text-align: center;
    }

    .main .main_block .main_block_left .block_left {
        align-items: center;
    }

    .main_block_right {
        display: none;
    }
}

.main .main_block .main_block_right {
    background-color: #000;
    right: -20%;
    top: -10%;
    position: absolute;
    height: 150%;
    width: 75%;
    transform: rotate(9.667deg);
    z-index: 0;
}

.main_image {
    z-index: 1;
    position: absolute;
    right: 15%;
    transform: rotate(-9.667deg) translate(-100%, -50%) scale(1.3);
    top: 50%;
    left: 50%;
}

@media (max-width: 1440px) {
    .main_image {
        transform: rotate(-9.667deg) translate(-100%, -50%) scale(0.8);
        top: 50%;
        left: 45%;
    }
}

.discriptoin {
    width: 100%;
    height: 320px;
    display: flex;
    padding: 10px 45px;
    border: 1px solid #000;
    background: grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ----------my desctiption---------- */

.my_desctiption {
    display: flex;
    width: 100%;
    max-height: max-content;
    background: linear-gradient(90deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
}

.my_desctiption_main {
    padding: 5vw 10vw;
    z-index: 2;
}

.my_desctiption_title {
    color: #fff;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.561px;
}

.my_desctiption_about {
    max-width: 915px;
    width: 100%;
    padding-bottom: 30px;
    color: #FFF;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.682%;
}

.my_desctiption_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 139px;
    height: 25px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

.my_desctiption_button a {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
}

.my_desctiption_button a:hover {
    transform: scale(1.1);
}

.my_desctiption_logo {
    position: absolute;
    right: 3%;
    z-index: 1;
}

/* ----------about me---------- */

.about_me {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
    z-index: 1;
}

.about_me_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 60px;
    height: 100px;
    border: 8px solid #000;
    background: rgba(255, 255, 255, 0.00);
}

@media (max-width: 900px) {
    .page_title {
        padding: 0 10px;
        height: 60px;
    }
}

.page_title p{
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 127.9%;
    letter-spacing: 10.661px;
}

#about_me {
    margin: 140px 0 75px; 
}

#skills {
    margin-bottom: 25px;
}

.about_me_text {
    width: 763px;
    height: 47px;
    padding: 90px 0 75px;
    text-align: center;
    max-width: 90vw;
}

.about_me_text p {
    font-family: 'Open Sans', sans-serif;
    color: #050505;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.682%;
}

.about_me_explore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 139px;
    height: 25px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.about_me_explore p {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img_separator{
    padding: 100px 0px 120px;
}

.about_me_disctiption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1070px;
    gap: 50px;
}

.about_me_disctiption .about_me_item {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    gap: 15px;
}

@media (max-width: 425px) {
    .about_me_disctiption .about_me_item {
        max-width: 80vw;
    }
}

.about_me_disctiption .about_me_item .title {
    position: relative;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 3px;
    z-index: 2;
}

.about_me_disctiption .about_me_item .text {
    color: #6e6e6e;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.about_me_disctiption .about_me_item .title img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
}

@media (max-width: 425px) {
    .about_me_disctiption .about_me_item .title img {
        transform: translate(-30%, -30%);
    }
}

/* ----------skills---------- */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_title {
    position: relative;
    left: -35%;
    padding: 50px 0 50px;
}

@media (max-width: 900px) {
    .skills_title {
        left: unset;
    }
}

.skills_title p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.561px;
}

.skill_icons {
    display: flex;
    max-width: 1150px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.skill_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.skill_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 52px;
    flex-direction: column;
}

.skill_title p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.249px;
    padding-top: 30px;
}

/* ----------portfolio---------- */

.portfolio_title {
    display: flex;
    position: relative;
    width: 100%;
    height: 321px;
    color: #000;
    background: url('/media/images/img_mountains.png');
    background-position: center;
    justify-content: center;
    align-items: center;
}

#portfolio_title {
    position: relative;
    z-index: 1;
}

.portfolio_title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .4);
}

.portfolio_main {
    display: flex;
    justify-content: center;
    background: #1A1A1A;
}

.portfolio_menu {
    display: flex;
    padding: 40px 0 50px;
}

.menu_link {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 10vw;
    border-bottom: 2px solid #7C7C7C;
    color: #7C7C7C;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    text-decoration: none;
}

.menu_link a {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: inherit;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.menu_link:hover {
    border-color: #FFFBFB;
    color: #FFFBFB;
}

.menu_link.active, .menu_link.active a {
    border-color: #FFFBFB;
    color: #FFFBFB;
}

.portfolio_sites {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0;
    flex-wrap: wrap;
    gap: 20px;
    background: #1A1A1A;
}

.sites_img_conatainer {
    max-width: 100%;
}

.sites_img {
    width: 100%; /* Займає 100% ширини контейнера */
    height: auto;
    display: block;
}

.portfolio_footer {
    display: flex;
    width: 100%;
    height: 70px;
    background: #1A1A1A;
    justify-content: center;
    align-items: center;
}

.portfolio_footer p {
    color: #FFFBFB;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* ----------contact---------- */

.contact {
    display: flex;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), #FFF;
    flex-direction: column;
    align-items: center;
}

#contact {
    margin: 140px 0 60px;
}

.contact_text {
    width: 763px;
    height: 47px;
    text-align: center;
    max-width: 90vw;
}

.contact_text p{
    font-family: 'Open Sans', sans-serif;
    color: #050505;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.682%;
}

.contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.contact_form input {
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 600px;
    font-size: 18px;
    border: 0;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    outline: none;
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (max-width: 600px) {
    .contact_form input, .contact_form textarea {
        max-width: 90vw;
    }
}

.contact_form ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.contact_form textarea {
    background-color: rgba(0, 0, 0, 0);
    height: 180px;
    width: 600px;
    font-size: 18px;
    border: 0;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    outline: none;
    text-indent: 10px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

.contact_form .form_message::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.contact_buttom_container {
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    height: 45px;
    width: 180px;
    margin: 60px 0 80px;
}

.contact_buttom {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    border: 0;
    height: 45px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #000;
}

.contact_buttom:hover {
    transform: scale(1.1);
}

/* ----------footer---------- */

.footer_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 330px;
    width: 100%;
    background: #1A1A1A;
}

.arrow {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0 50px;
    transition: transform 0.2s ease-in-out;
}

.arrow img{
    transform: scale(1.1);
}

.arrow p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.arrow:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

