* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 45px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #0B0B0B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header_logo {
    opacity: 0;
}

.header .header_menu {
    display: flex;
    gap: 30px;
}

.menu_item {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
}

.main .main_block .main_block_left .links {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.main_block_left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main_block_left .title {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.main_block_left .name {
    max-width: 600px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.main_block_left .sub_title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #909090;
}

.main_block_left .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .main_block_left .block_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}


.menu_item:last-child {
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding: 15px;
}

.main .container {
    width: 940px;
    margin: auto;
}

.main .main_block {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #D7D7D7;
    overflow: hidden;
}

.main .main_block .main_block_left {
    width: 50%;
    height: 100%;
}

.main .main_block .main_block_right {
    background-color: #000;
    right: -20%;
    top: -10%;
    position: absolute;
    height: 150%;
    width: 75%;
    transform: rotate(9.667deg);
    z-index: 0;
}

.main_image {
    z-index: 9999;
    position: absolute;
    right: 15%;
    transform: rotate(-9.667deg) translate(-100%, -50%) scale(1.3);
    top: 50%;
    left: 50%;
}

.discriptoin {
    width: 100;
    height: 320px;
    display: flex;
    padding: 10px 45px;
    border: 1px solid #000;
    background: grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}